.postContainer {
  display: flex;
  flex-direction: column;
  width: 250px;
  border: 3px solid gray;
  border-radius: 0.5rem;
  background-color: whitesmoke;
}

.profileImage {
  border: 1px solid gray;
}

.postImage {
  width: 100%;
  padding: 0 1rem;
  object-fit: cover;
  align-self: center;
}
