MONGO_URI=mongodb://localhost:27017/myapp
PORT=3000

# JWT
JWT_SECRET=your_super_secret_key_change_me
JWT_EXPIRES_IN=3600
REFRESH_TOKEN_EXPIRES_IN=604800

# Google OAuth (Google Identity Services)
GOOGLE_CLIENT_ID=your_google_client_id_here

# urls
CLIENT_URL=http://localhost:8080
SERVER_URL=http://localhost:3000

# OpenRouter AI
OPENROUTER_API_KEY=sk-or-your-openrouter-api-key
OPENROUTER_MODEL=nvidia/nemotron-3-nano-30b-a3b:free

# Deployment
NODE_ENV=development
SSL_KEY_PATH=path/to/your/ssl/key
SSL_CERT_PATH=path/to/your/ssl/cert